.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .card-container > .wrapper {
  grid-column: 1 / -1;
} */

.h-scroll {
  display: grid;
  grid-gap: calc(20px / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 300px;

  overflow-x: scroll;
  /* scroll-snap-type: x proximity; */
  padding-bottom: calc(.75 * 20px);
  padding-top: calc(.75 * 20px);
  /* margin-bottom: calc(-.25 * var(--gutter)); */
}

.h-scroll:before,
.h-scroll:after {
  content: '';
  width: 10px;
}

/* .card-container {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
} */

.card {
  scroll-snap-align: center;
  padding: calc(20px / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}
