.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#filter, #filter2 {
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    background: yellow;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;

    width: 0px;
}

#filter.in, #filter2.in {
  width: 200px;
}

/* .card-container > .wrapper {
  grid-column: 1 / -1;
} */

.h-scroll {
  display: grid;
  grid-gap: calc(30px / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(300px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 300px;

  overflow-x: scroll;
  /* scroll-snap-type: x proximity; */
  padding-bottom: calc(.75 * 30px);
  padding-top: calc(.75 * 30px);
  /* margin-bottom: calc(-.25 * var(--gutter)); */
}

.h-scroll:before,
.h-scroll:after {
  content: '';
  width: 10px;
}

/* .card-container {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
} */

.card {
  scroll-snap-align: center;
  padding: calc(20px / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  transition: transform .5s;
  transform-style: preserve-3d;
}

.card:hover {
  transform: scale(1.05)
}

.card-container {
  position: relative;
}

/* .card.is-flipped {
  transform: rotateY(180deg) scale(1.2);
} */

.add-exercise {
  z-index: 1;
  position: relative;
  bottom: 35px
}
